@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

body {
    font-family: Raleway;
}

.sign-container {
    font-size: 16px;
    line-height: 1.75em;
}

.sign-container > div {
    margin-top: 1em;
}

.sign-container > span {
    font-size: 0.75em;
}

.panel {
    box-shadow: none;
    border-radius: 0;
    background: #f5f5f5;
}

.panel h2 span {
    text-transform: uppercase;
    border-bottom: 4px double gray;
    padding: 0 0.5em;
    font-size: 20px;
}

.subtitle {
    margin: 0;
}

.row {
    padding: 1em 2em;
}
@media screen and (min-width:769px) { .row { padding: 1.5em 2em; } }
@media screen and (min-width:1024px) { .row { padding: 2em 5.5em; } }

.panel-inner { padding: 15px; }

.sign-column {
    flex-basis: 100%;
}
@media screen and (min-width:769px) { .sign-column { flex-basis: 50%; } }
@media screen and (min-width:1216px) { .sign-column { flex-basis: 25%; } }

p {
    display: inline-block;
    margin: 1em 0;
}

pre {
    display: inline-block;
    font-size: 0.8em;
    margin: 1em 0;
    width: 100%;
    overflow-x: scroll;
}

pre > strong:first-of-type {
    font-size: 1.2em;
    text-decoration: underline;
}

code {
    color: black !important;
}